<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="peticion-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `peticion-element`
     * &#34;Ejercicio de petición con iron-ajax&#34;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PeticionElement extends Polymer.Element {
      static get is() { return 'peticion-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'peticion-element'
          }
        };
      }
    }

    window.customElements.define(PeticionElement.is, PeticionElement);
  </script>
</dom-module>
